h1 {
    font-family: 'Anonymous Pro';
    font-weight: 700;
}

h2 {
    font-family: 'Anonymous Pro';
    font-weight: 400;
    font-style: italic;
}

p {
    font-family: 'Anonymous Pro';
    font-weight: 400;
}

a {
    font-family: 'Anonymous Pro';
    font-weight: 400;
}