/*font-family: 'Source Serif Pro', serif; 400, 600, 700*/ 

a:link {
    text-decoration: none;
    color: inherit;

}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

body {
	margin: 0px 0px 0px 0px;
}

li {
	font-weight: 400;
	font-family: 'Source Serif Pro', serif;
}

img {
	width: 100%;
}

h1 {
    font-weight: 400;
	font-family: 'Source Serif Pro', serif;
}

h2 {
	font-weight: 400;
	font-family: 'Source Serif Pro', serif;
}

h3 {
	font-weight: 400;
	font-family: 'Source Serif Pro', serif;
	font-size: 18px;
	/*color: #C9C9C9;*/
	color: black;
	margin: 10px, 0px, 10px, 0px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border: 2px solid white
}

h3:hover {
	border: 2px solid #ffcc00;
	background-color: #ffcc00;
	color: #black;
	font-weight: 700;

}

.myname {
	font-weight: 700;
	font-size: 36px;
	font-family: 'Source Serif Pro', serif;
	color: white;
	position: relative;
	top: -60px;
}

.yellow_box {
	background-color: #ffcc00;
	width: 40%;
	height: 60px;
	position: relative;
	top: -20px;
	left: 10px;
}

.imgtop {
	width: 100px;
}

.clear {
	clear: both;
}

.almost {
	margin: 0px 0px 0px 30px;
}

.bio {
	font-weight: 400;
	font-family: 'Source Serif Pro', serif;
	font-size: 80px;
	line-height: 110%;
	text-align: right;
	color: #ffcc00;
	margin-top: 0px;
}

.column1 {
	width: 60%;
	float: left;
	font-size: 24pt;
	padding: 00px;
}

.column2 {
	width: 40%px;
	float: left;
	font-size: 24pt;
	padding: 10px;
	margin-top: -18px;
	margin-left: 30px;
}

.wrapper {
	width: 100%;
	font-size: 0pt;
	margin: -50px 0px 0px 0px;
