body {
    margin: 0px;
}

.bar {
    height: 2%;
    width: 100%;
}
/*
.col1 {
    height: 2%;
    width: 100%;
    background-color: #DCE4E7;
}

.col2 {
    height: 2%;
    width: 100%;
    background-color: #C8CECE;
}

.col3 {
    height: 2%;
    width: 100%;
    background-color: #D5CEC8;
}

.col4 {
    height: 2%;
    width: 100%;
    background-color: #E1DFD2;
}

.col5 {
    height: 2%;
    width: 100%;
    background-color: #F4F4F2;
}
*/
.col1 {
    height: 2%;
    width: 100%;
    background-color: #26A7AD;
}

.stage {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.col2 {
    height: 2%;
    width: 100%;
    background-color: #15A0BF;
}

.col3 {
    height: 2%;
    width: 100%;
    background-color: #15AEBF;
}

.col4 {
    height: 2%;
    width: 100%;
    background-color: #21A6A6;
}

.col5 {
    height: 2%;
    width: 100%;
    background-color: #28A8BF;
}

h1 {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 48px;
}

.click {
    
}

.splash {
    margin: 0;
    padding: 0;
    opacity: 0.1;
    position: absolute;
    z-index: 10000;
  transform: translate(-50%,-50%);
}

.rings {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}